<p id="notice"><%= notice %></p>

<h1>Задачи</h1>

<table>


  <tbody>
    <% @projects.find_each do |project| %>

        <h3><b><%= project.title %></b></h3>
          <ul type="disc">
          <%= project.todos.find_each do |todo| %>
              <li><%= todo.text %></li>
            <% end %>
          </ul>
  <% end %>
  </tbody>
</table>

